body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: #F0F7F0;
    margin: 0;
    padding: 0;
}

.cta-section {
    max-width: 1150px;
    margin: auto;
    padding: 40px 20px;
}

.cta-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #38EB2F;
    margin-bottom: 40px;
}

.cta-row {
    display: flex;
    align-items: stretch;
    gap: 35px;
    margin-bottom: 50px;
}

.cta-row.reverse {
    align-items: right;
}

.cta-image-box {
    flex: 1;
    min-height: 360px;
    background: #e4eef7;
    border-radius: 20px;
    border: 2px dashed #b8c7d9; /*dashed bored ( the - - - - - ) on the picture border*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cta-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.cta-card {
    flex: 1.3;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    line-height: 1.6;
}

.cta-card h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    color: #2E8F26;
}

.cta-card h4 {
    margin-top: 18px;
    font-family: 'Poppins', sans-serif;
}

.cta-card h5 {
    font-weight: bold;
    margin-top: 15px;
}

.cta-card ul {
    margin-left: 20px;
}

.cta-end {
    text-align: center;
    margin-top: 60px;
    padding: 30px;
}

.cta-end h2 {
    color: #2E8F26;
    font-family: 'Poppins', sans-serif;
}

.cta-end p {
    font-size: 16px;
    color: #555;
}

.back-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #45a049;
}